//Comentário que não vai para o arquivo css
$cor-padrao: complement(#c24e4b);
$cor-axiliar:lighten(#1e2c35, 0);
$cor-branco: #fff;
$raio: 0.3em;
$raio-grande: 50px;
$ponto-de-quebra: 980px;
$mq-mobile: "(max-width: 980px)";
$tamanho-da-fonte-padrao: 16px;